body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0E1F9     ;
  }
  .container {
    height: 748px;
    width: 748px;
    background-color: #000000;
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
  }

  .first-item {
    background-color: #E72F24;
  }

  .second-item {
    background-color: #F0F1EC;
    grid-column: span 3;
  }

  .third-item {
    background-color: #F0F1EC;
    grid-row: span 2;
  }

  .fourth-item {
    background-color: #F0F1EC;
    grid-row: span 2;
    grid-column: span 2;
  }

  .fifth-item {
    background-color: #004592;
    border-bottom: 10px solid;
  }

  .sixth-item {
    background-color: #F0F1EC; 
    grid-row: span 2;
  }

  .seventh-item {
    background-color: #F0F1EC;
  }

  .eighth-item {
    background-color: #F9D01E;
  }

  .ninth-item {
    background-color: #232629;
  }
